.basic-box {
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}
.day-el-view {
  background-color: rgba(236, 236, 236, 0.156);
  -webkit-box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  color: black;
}
.night-el-view {
  background-color: rgba(78, 78, 78, 0.156);
  -webkit-box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px -2px 18px 0px rgba(66, 68, 90, 1);
  color: white;
}

.location-icon {
  display: inline-block;
  width: 280px;
  margin: auto;
  position: relative;
  top: 30px;
  left: 150px;
}
li {
  font-size: 25px;
  letter-spacing: 1px;
}
.location-today {
  font-size: 25px;
  margin-bottom: -10px;
}
.location-name {
  font-size: 70px;
  font-weight: 500;
}
.location-temp {
  margin-top: 20px;
  margin-bottom: 5px;
}

.sub-basic-box {
  display: inline-block;
  height: 250px;
  width: auto;
  position: relative;
  bottom: 10px;
  left: 320px;
  list-style: none;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.body-bg1 {
  background-image: url("./assets/img/bg.jpg");
}
.body-bg2 {
  background-image: url("./assets/img/bg2.jpg");
}
.body-bg3 {
  background-image: url("./assets/img/bg3.jpg");
}
.body-bg4 {
  background-image: url("./assets/img/bg4.jpg");
}
.body-bg5 {
  background-image: url("./assets/img/bg5.jpg");
}
.body-bg6 {
  background-image: url("./assets/img/bg6.jpg");
}
.forecast-all-box {
  display: flex;
  width: 950px;
  margin: auto;
  position: relative;
  bottom: 75px;
  justify-content: space-between;
}
.forecast-box {
  width: 150px;
  height: 150px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
.forecast-img {
  width: 80px;
  height: 80px;
  margin-top: -12px;
}
.forecast-day-name {
  font-size: 20px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.forecast-avg-temp {
  font-size: 22px;
  margin-top: 8px;
}
.search-bar {
  display: block;
  width: 400px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.search-icon {
  position: relative;
  left: 400px;
  top: 0px;
  cursor: pointer;
}
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -10px;
}
.hour-forecast-div {
  display: flex;
  width: 900px;
  flex-direction: column;
  margin: auto;
  gap: 20px;
}
.hour-forecast-el {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.hour-forecast-el {
  font-size: 25px;
}

.hour-forecast-time-p {
  margin-left: 20px;
  margin-right: 550px;
}
.hour-forecast-img {
  margin-right: 100px;
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
* {
  font-family: "Open Sans", sans-serif;
}
